@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', serif, sans-serif;
}

/* BARRA DE VAVEGACION*/

.navbar {
    display: flex;
    margin: 10vw 14vw;
    position: relative;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

.hamburguesa {
    width: 10vw;
    height: 11.48vw;
    margin-right: 2vw;
}

.checkbox, .icons {
    position: absolute;
    cursor: pointer;
    width: 12vw;
    height: 12vw;
}
.icons{
    pointer-events: none;
    font-size: 3rem;
    display: none;
}
.checkbox {
    opacity: 0;
}

.menu-close {
    display: none;
}


.checkbox:checked ~ .menu-close {
    display: block;
}
.checkbox:checked ~ .menu-icon {
    display: none;
}

.checkbox:checked ~ .menu {
    display: block;
}

.menu {
    position: absolute;
    top: 4.5rem;
    right: 0vw;
    width: 40vw;
    background-color: aquamarine;
    display: none;
}
.menu li a:link{
    color: #242E52;
}
.menu li a:visited{
    color: #242E52;
}

.menu li {
    font-size: 1.5rem;
}

.menu li {
    list-style: none;
}

.contact {
    display: none;
    margin: 0 2rem;
}

.contact button{  
    width: 8.375rem;
    font-size: 0.82rem;
    padding: 0.78rem 2.56rem;
    border: none;
    color: white;
    background-color: #8B48BF;
    border-radius: 3.125rem;
    cursor: pointer;
}

.contact button:hover {
    background-color: rgba(139, 72, 191, 0.7);
}

/* BODY PAGE*/

section {
    margin: 2.5rem 0;
}

/* FIRST PART*/

.img-front{
    margin: 2.5rem;
    display: flex;
    justify-content: center;
}

.img-front img {
    width: 100%;
    height: 100%;

}
.font-inf {
    margin: 8.33vw;
}

.font-inf h2{
    font-size: 12.56vw;
    color: #232C50;
    text-align: end;
    margin: 0.875rem 0;  
}

.font-inf p {
    color: #000000;
    font-size: 1.03rem;
    text-align: right;
    margin: 1.75rem 0;
}

.contact-intro {
    display: flex;
    justify-content: flex-end;
    margin: 1.75rem 0;
}

.contact-buttom-intro{
    background-color: #8B48BF;
    font-weight: 500;
    color: white;
    border-radius: 3.125rem ;
    border: none;
    padding: 0.78rem 2.56rem;
}

/* SECOND PART*/

.second-part{
    background-color: #3CDDF3;
    color: white;
    display: flex;
    flex-direction: column;
}

.second-part h2 {
    font-size: 2.25rem;
    padding: 2.5rem 1.25rem;
}
.mobileP {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.625rem 1.25rem 2.5rem 1.25rem;
}
.desktopP{
    display: none;
}


/* TERCERA PARTE*/

.third-part {
    display: flex;
    flex-direction: column; 
    padding-top: 4vw;
}
.track-1, .track-2 {
    display: flex;
    flex-direction: column;   
}
.track-1 div{
    display: flex;
    flex-direction: column;
}
.req h3 {
    background-color: rgba(139, 72, 191, 0.3);
    width: 93%;
    align-self: flex-end;
    border-radius:7.5vw 0 0 7.5vw;
    font-size: 4vw;    
}

.info-count {
    display: inline-block;
    width: 17.2vw;
    font-size: 4vw;
    font-weight: 700;
    background-color:#8B48BF;
    color: white;
    text-align: center;
    border-radius:7.5vw ;
    padding: 2.7vw;
    margin-right: 4vw;
}

h3 ~ p {
    color: #B3B2B7;
    font-size: 4vw;
    margin: 8vw 10vw 8vw 10vw;
}


/*PLAYERS SECTION*/

.players-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

}
.players-section h2{
    color: #242E53;
    font-size: 2.45rem;
    font-weight: 700;
    text-align: center;
}

.best-players {
    padding-top: 6.8rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.best-players>div {
    margin: 1.09375rem;
}

.player{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #FAFAFA ;
    position: relative;
    margin: 1.06rem 0;
}

.player-img {
    position: absolute;
    top: -2rem;
    align-self: center;
}

.player h3 {
    padding-top : 4rem;
    color: #3F4868;
    font-size: 1rem;
    font-weight: 700;
}
.player p {
    color: #B9B9C1;
    font-size: 1rem;
    margin: 0;
    padding: 1.31rem 1.6275rem;
    line-height: 1.6rem;
    font-weight: 500;
    
}

.player-1, .player-3 {
    display: none;
}

.buttom-more {
    display: flex;
    justify-content: center;
    padding: 1.6rem;
}

.buttom-more button {
    width: 8.375rem;
    border: none;
    font-size: 0.81rem;
    background-color: #8B48BF;
    padding: 0.75rem;
    border-radius:3.125rem;
    color: white;
}

/*ULTIMA PARTE MAIN*/

.four-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #3CDDF3;
    color: white;
    padding-bottom: 2.5rem;
    margin-bottom: 0;
}

.four-part h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 2.5rem 5rem;
}
.go-for-button {
    margin: 0 2rem;
}
.go-for-button button{
    border: none;
    color: white;
    border-radius: 3.1rem;
    font-size: 0.82rem;
    padding: 0.82rem 2.625rem;
    background-color: #232C50;

}

/*INICIO FOOTER*/


footer {
    background-color: #1E1E26;
    color: white;
    display: flex;
    flex-direction: column;
}

/*FORMULARIO FOOTER*/


form {
    margin: 3.25rem;
    display: flex;
    justify-content: center;
}


form input {
    font-size: 0.82rem;
    border: none;
    border-radius: 3rem;
    padding: 0.78rem;
    width: 100%;
}

form button {
    font-size: 0.82rem;
    padding: 0.78rem 1.2rem;
    background-color: #8B48BF;
    color: white;
    border: none;
    border-radius: 3.1rem;
    margin-left: 0.45rem;
}

.mob-hidden {
    display: none;
}

/* LINKS FINALES*/

.links-final {
    display: flex;
    justify-content: space-around;

}
.links-final div ul {
    list-style: none;
    font-weight: 400;
    font-size: 1rem;
}

.links li {
    padding: 0.375rem;
}

.icons-final {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.logo-final {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

footer p {
    text-align: center;
    color: #8C8C94;
    padding-bottom: 3.125rem;
}

/* MEDIA QUERIES*/

@media screen and (min-width: 399px){
    .font-inf h2{
        font-size: 3.015rem;
    }
    /*BARRA DE NAVEGACION*/
    .navbar {
        margin: 2.5rem 3.5rem;
    }
    
    .hamburguesa {
        width: 2.56rem;
        height: 2.87rem;
        margin-right: 0.5rem;
    }
    
    .checkbox, .icons {
        width: 3rem;
        height: 3rem;
    }

    /*TERCERA PARTE */

    .third-part {
    padding-top: 1rem;
    }
    .req h3 {
        border-radius:1.875rem 0 0 1.875rem;
        font-size: 1rem;    
    }

    .info-count {
        width: 4.3rem;
        font-size: 1rem;
        border-radius:1.875rem ;
        padding: 0.675rem;
        margin-right: 1rem;
    }

    h3 ~ p {
        font-size: 1rem;
        margin: 2rem 1.75rem 2rem 2.5rem;
    }

}


@media screen and (min-width: 769px) {
    .navbar {
        margin: 4.44vw 12.22vw;
        position: static;         
    }
    .checkbox {
        display: none;
    }
    .contact {
        display: block;
    }

    .menu-icon, .menu-close {
        display: none;
    }
    .hamburguesa {
        width: auto;
        display: flex;
        align-items: center;
        margin-right: 0;
    }

    .menu {
        display: flex;
        position: static;
        justify-content: center;
        flex-wrap: wrap;
        background-color: white;
        width: auto;
    }
    .menu li {
        font-size: 0.8125rem;
        color: #242E52;
        margin: 0.5rem 0.875rem;
    }

    li a {
        text-decoration: none;
        cursor: pointer;
    }
    .menu li a:hover {
        color: rgba(36, 46, 82, 0.6);

    }

    /* FIRST SECTION*/

    .first-part {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin: 9.375rem 2rem 6rem 2rem;

    }
    .first-part>div {
        width: 35.3125rem;
        margin: 0;
    }

    
    .img-front img {
        width: 100%;
        height: 100%;
    }
    .font-inf h2{
        margin: 1.94rem 0;
    }
    .font-inf {
        padding-left: 5rem;
    }
    .font-inf p {
        text-align: right;
        font-weight: 500;
    }
    .contact-buttom-intro {
        cursor: pointer;
    }
    .contact-buttom-intro:hover {
        background-color: rgba(139, 72, 191, 0.7);
    }

    /*SECOND SECTION*/
    

    .second-part {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        background-color: #8B48BF;
        padding: 0 2.3rem;
        margin: 2.5rem 0 0 0;

    }
    .second-part h2 {
        padding: 2.5rem 2.8rem;
        padding-bottom: 0;
    }

    .mobileP {
        display: none;
    }
    
    .second-block{
        width: 34.375rem;
        padding: 2.5rem 3.125rem;
    }

    .desktopP {
        display: block;
        font-size: 1rem;
        font-weight: 500;
    }

    /* TERCERA PARTE*/

    .third-part{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
        padding: 2.5rem 1.5rem;
        background-color: #FAFAFA;
    }
    .track-1 {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .req {
        width: 34.5rem;
    }
    .req h3 {
        background-color: #FAFAFA;
        width: auto;
        align-self: flex-start;
    }
    .info-count {
        margin-right: 1.44rem;
    }

    .req p {
        padding-left: 3.24rem;
        margin-top: 1.125rem;
    }

    /*PLAYER SECTION*/

    .players-section {
        margin-top: 6.06rem;
        margin-bottom: 9.68rem;
        padding: 0 2.5rem;
    }

    .best-players>.player {
        width: 27rem;
        margin: 2rem 0;
    }
    .player h3 {
        margin-bottom: 1.3rem;

    }
    .player p {
        padding: 0;
        margin-bottom: 1rem;
    }
    .player-1, .player-3 {
        display: flex;
    }
    .buttom-more button:hover {
        background-color: rgba(139, 72, 191, 0.7);
        cursor: pointer;
    }

    /*ULTIMA PARTE MAIN*/

    .four-part {
        background-color: #8B48BF;
        justify-content: space-around;
        padding: 4rem 4rem;
    }
    .last-part{
        width: 27rem;
    }

    .four-part h2{
        text-align: left;
        padding: 0;
    }
    .go-for-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
    }
    .go-for-button button{
        background-color: white;
        color: #8B48BF;

    }
    .go-for-button button {
        cursor: pointer;
    }
    /* INICIO FOOTER*/

    footer {
        flex-direction: row-reverse;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .mob-hidden{
        display: block;
        font-size: 0.78rem;
        text-align: end;
    }
    .desk-hidden{
        display: none;
    }

    .icon-logo{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        padding: 0 2.5rem;
    }
    .icons-final{
        width: 9.56rem;
        padding: 2.5rem 0;
        justify-content: space-between;
    }
    .logo-final{
        padding: 2.5rem 0;
        justify-content: flex-start;
    }

    .links-final {
        align-items: center;
        width: 24.54rem;
        justify-content: space-around;
        

    }
    .form-zone{
        padding-right: 5rem;
    }

    div>form {
        margin: 3.51rem 0;
    }
    form input{
        width: 12.56rem;
    }
}

@media screen and (min-width: 1500px) {

    .navbar {
        margin: 4.125rem 11.456rem;
    }
}